.quote {
    color: white;
    background: rgb(73, 112, 184);
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 30px;
}


.appointment1 {
    font-weight: bold;

    max-width: 1126px;
margin: 0 auto 0 auto;
}
.appointment2 {
    max-width: 1126px;
margin: 0 auto 0 auto;

}