quote {
    color: white;
    background: rgb(73, 112, 184);
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 30px;

}

appointment {
    /* background: rgb(73, 112, 184); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 30px;
}

.appointment1 {
    /* color: white; */
    display: flex;
    max-width: 1126px;
    font-weight: bold;
    font-size: 1.5rem;
}

.appointment2 {
    /* color: white; */
    display: flex;
    max-width: 1126px;
    font-size: 1.2rem;
}